body {
    font-family: 'Arial', sans-serif;
   background-image: url(media/to_do_listimage.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
    
  }
  #todo-form{
    display: flex;
    gap: 10%;
  }
  h1{
   padding-left: 40%;
   color:rgb(14, 48, 91);
  }
  #todo-app {
    padding-top: 2%;
    width: 50%;
    min-height: 60vh;
    margin-left: 25%;
    /* padding: 200px; */
    background-color:rgb(139, 162, 73);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 9%;
    box-shadow: 25px 25px 75px rgb(139, 162, 73),
    10px 10px 70px rgb(139, 162, 73),
    inset 5px 5px 10px rgb(139, 162, 73),
    inset 5px 5px 20px rgb(139, 162, 73),
    inset -5px -5px 15px rgb(139, 162, 73);
  }
  
  #todo-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-left: 20px;
    
  }
  
  #todo-form button {
    padding: 10px 20px;
    background-color: rgb(29,30,30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  
  }
  
  #todo-form button:hover {
    background-color: #4682B4;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #header{
    display: flex;
  }
  .logo{
    width: 9%;
    height: 9vh;
  }
  #todo-list li {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: rgb(225, 230, 230);
    margin-bottom: 5px;
  }



#content{
    display: flex;
    margin-top: 5%;
    gap: 10%;

}
@media only screen and (max-width: 540px) {
  #navbar{
                          overflow: hidden;
                          position: relative;
                          flex-wrap: wrap;
                        }
                         #navbar a {
                          padding: 14px 16px;
                          text-decoration: none;
                          font-size: 17px;
                          display: block;
                        }
                        #todo-app {
                          width: 60%;
                          
                          padding: 200px;
                          background-color: #fff;
                          border-radius: 10px;
                          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                        
                        }
      
                     
                    }
                    @media only screen and (max-width: 768px) {
                    
                      #navbar{
                          display: flex;
                          flex-wrap: wrap;
                    }
                    }
                    
                    @media only screen and (max-width: 280px) {
                       
    
                      #navbar{
                          display: flex;
                          flex-wrap: wrap;
                    }
                    .page{
                      border-radius: 50%;
                      width: 50%;
                      margin-right: 20%;
                     
                     }
         
                    
                       
                       
                     #navbar{
                      overflow: hidden;
                      position: relative;
                      flex-wrap: wrap;
                    }
                     #navbar a {
                      padding: 14px 16px;
                      text-decoration: none;
                      font-size: 17px;
                      display: block;
                    }
                    #todo-app {
                      width: 50%;
                      padding-left: 10%;
                      margin-right: 40%;
                      background-color: #fff;
                      border-radius: 10px;
                      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                    
                    
                    }
                        
  
  
                  }  


/* 
  wrapper-container
  container 
  nav  
  nav_menu 
  nav_item--active 
  stoper
  stoper_time
buttons
buttons_menu
buttons_reset */
